@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager

@{
    ViewData["Title"] = "Start";
}

<div class="text-center">
    @if (SignInManager.IsSignedIn(User))
    {
        <h1 class="display-4">Witaj ponownie</h1>
    }
    else
    {
        <h1 class="display-4">Witaj</h1>
        <p>Zaloguj się, aby kontynuować</p>
    }
</div>
