@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager

@{
    ViewData["Title"] = "Start";
}

<div class="text-center">
    @if (SignInManager.IsSignedIn(User))
    {
        <h1>Witaj</h1>
        <p>Zaloguj sie aby kontunuować</p>
    }
    else
    {
        <h1>Witaj Ponownie</h1>
    }
</div>