@model MoneyManager.Entities.ExpenseEntity

@{
    ViewData["Title"] = "Edytuj";
}

<form method="POST" asp-action="Edit">
    <div class="form-group">
        <label asp-for="Name">Nazwa</label>
        <input asp-for="Name" class="form-control" value="@Model.Name" />
    </div>
    <div class="form-group">
        <label asp-for="Amount">Cena</label>
        <input asp-for="Amount" class="form-control" value="@Model.Amount" />
    </div>
    <div class="form-group">
        <label asp-for="ExpenseDate">Data</label>
        <div id="date-picker-example" class="md-form md-outline input-with-post-icon datepicker">
            <input asp-for="ExpenseDate" type="date" id="example" class="form-control" value="@Model.ExpenseDate">
            <i class="fas fa-calendar input-prefix" tabindex=0></i>
        </div>
    </div>
    <div class="form-group">
        <label asp-for="Category">Kategoria</label>
        <select asp-for="Category" class="form-control" value="@Model.Category">
            <option value="food">Jedzenie</option>
            <option value="transport">Transport</option>
            <option value="medications">Leki</option>
            <option value="apartment">Mieszkanie</option>
            <option value="entertainment">Rozrywka</option>
            <option value="others">Inne</option>
        </select>
    </div>
    <div class="form-group">
        <input type="submit" value="Edytuj" />
    </div>
</form>