@model IncomeModel

@{
    ViewData["Title"] = "Dodaj";
}

<form method="POST" asp-action="Add">
    <div class="form-group">
        <label asp-for="Name">Nazwa</label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Amount">Kwota</label>
        <input asp-for="Amount" class="form-control" />
        <span asp-validation-for="Amount" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="IncomeDate">Data</label>
        <div id="date-picker-example" class="md-form md-outline input-with-post-icon datepicker">
            <input asp-for="IncomeDate" type="date" value="@DateTime.Now.Date.ToString("yyyy/MM/dd")" id="example" class="form-control">
            <i class="fas fa-calendar input-prefix" tabindex=0></i>
        </div>
        <span asp-validation-for="IncomeDate" class="text-danger"></span>
    </div>
    <div class="form-group">
        <input type="submit" class="btn btn-primary" value="Dodaj" />
    </div>
</form>