@model IncomeModel

@{
    ViewData["Title"] = "Edytuj";
}

<form method="POST" asp-action="Edit">
    <div class="form-group">
        <label asp-for="Name">Nazwa</label>
        <input asp-for="Name" class="form-control" value="@Model.Name" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Amount">Kwota</label>
        <input asp-for="Amount" class="form-control" value="@Model.Amount" />
        <span asp-validation-for="Amount" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="IncomeDate">Data</label>
        <div id="date-picker-example" class="md-form md-outline input-with-post-icon datepicker">
            <input asp-for="IncomeDate" type="date" id="example" class="form-control" value="@Model.IncomeDate.ToString("yyyy/MM/dd")">
            <i class="fas fa-calendar input-prefix" tabindex=0></i>
        </div>
        <span asp-validation-for="IncomeDate" class="text-danger"></span>
    </div>
    <div class="form-group">
        <input type="submit" class="btn btn-primary" value="Edytuj" />
    </div>
</form>